fastapi
uvicorn
pydantic
pydantic-settings
langchain
langchain-groq
langchain-huggingface
sentence-transformers
rank-bm25
pypdf
redis
tiktoken
tenacity
presidio-analyzer
ragas
langfuse
pytest
langchain_qdrant

