fastapi
uvicorn
pydantic
pydantic-settings
langchain
langchain-groq
langchain-huggingface
sentence-transformers
rank-bm25
pypdf
redis
tiktoken
tenacity
presidio-analyzer
presidio_anonymizer
ragas
langfuse==2.53.9
pytest
langchain_qdrant
psycopg
slowapi
